page-login {
    text-align: center;
}
#list{
   margin-top:20px;
}
img{
    margin-top:40px;
    height:80px;
    width:80px;
    border-radius: 100%;
}
#btn{
    height:40px;
    width:100px;
    text-align: center;
    margin:0 auto;

}
.word{
    font-size:30px;
    font-weight: bold;
}

a{
    text-decoration: none;
    float:right;
    margin-right:20px;
    margin-top:-20px;
}