page-publishlist {

p{
    font-size:17px;
}
ion-input[type="textarea"]{
    border:1px solid gainsboro;
    height:200px;
    width:100%;
}
.btn{
    background-color: #ffcc33;
    height:40px;
    width:320px;
    color:black;
    font-size:16px;
    
}
.button{
    text-align: center;
    margin:0 auto;
}
.publish::-webkit-input-placeholder{
    float:right;
}
img{
    height:20px;
    width:20px;
}  
}
